*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;

}
body{
    font-family: 'Cormorant Garamond', serif;
}

/* common css */

/* header top start */
#headertop {
    background-color: #ffffff;
}


#headertop .main .item .icon i{
    font-size: 25px;
    margin-top: 24px;
    margin-left: 30px;
    font-weight: 600;
    color: #000;
    
}


#headertop .main .item .icons{
    margin-top: 24px;
    margin-right: 30px;
    
}

#headertop .main .item .icons i{
    font-size: 25px;
    padding-right: 10px;
    color: #000;
    
}

#headertop .logo img{
    width: 90px;
    margin-top: 25px;
}

/* header top end */

/* <!-- ============= 
    navbar start
=============== --> */

#navbar_top{
    
}

.navbar-collapse {
    background-color: #ffffff;
}

#navbar_top .navbar-nav a{
    margin-right: 56px;
    padding: 0px;
    line-height: 50px;
    color: #1f2021;
}


/* <!-- ============= 
    navbar :end
=============== --> */

/* ============= 
banner start
===============  */

#banner .banner_bg{
 background: url(../img/banner_bg.jpg) no-repeat center;
 background: cover;
padding: 177px 452px;
margin-bottom: 50px;

}

#banner h1{
    font-size: 50px;
    
    padding-left: 0 452px;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif;
    
}

#banner button a {
    color: #000;
    margin-left: 173px;
    padding-top: 10px;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 45px;
    text-transform: uppercase;
    transition: all .35s ease;
    padding: 0 25px;
    border: 2px solid black;
}


#banner .ring_bg{ 
    background: url(../img/ring_bg.jpg ) no-repeat center;
    background: cover;
    margin-left: 40px;
    padding: 302px 33px;
   
}

#banner .text h4{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    font-size: 20px;
    
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;

}

#banner {
   position: relative;
   
    
}



#banner .up_1{
    position: absolute;
    width: 35%;
    height: 26%;
    background: url(../img/up1.jpg) no-repeat center;
    background:cover;
    
    z-index: 1;
}

#banner .up_1 h4{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    padding-top: 221px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}


#banner .item2 .up_2 {
    position: absolute;
    margin-top: 316px;
    width: 17%;
    height: 26.8%;
    background: url(../img/up2.jpg) no-repeat center;
    background: cover;
    opacity: 1;
    z-index: 2;
}

#banner .item2 .up_2 h4{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    padding-top: 247px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

#banner .item3 .up_3 {
    position: absolute;
    margin-top: 316px;
    margin-left: 257px;
    width: 17%;
    height: 26.8%;
    background: url(../img/up3.jpg) no-repeat center;
    background: cover;
    opacity: 1;
    z-index: 2;
}

#banner .item3 .up_3 h4{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    padding-top: 247px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}




#banner .cham_bg{ 
    background: url(../img/cham.jpg ) no-repeat center;
    background: cover;
    margin-left: 40px;
    padding: 302px 33px;
    margin-right: 40px;
}

#banner .cham_bg .text h4{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    font-size: 20px;
    
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;

}

/* ============= 
banner end
===============  */


/* ===========Everyday Elegance
 start ===========*/

#Elegance h1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

#Elegance .item img{
    width: 100%;
   
    
}
#Elegance .item  .icons{
    display: flex;
    justify-content: center;
    
    color: #fcad02;
    font-size: 12px;
}
#Elegance .item  .icons i{
    margin-top: 20px;
    padding-top: 2px;
    padding-left: 5px;
}

#Elegance .item  p{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 2.5px;
}


#Elegance .item  a{
    display: flex;
    justify-content: center;
    margin-top: -8px;
    color: #cb8161;

}

#Elegance .item  a del{
   margin-right: 5px;
    color: #9b9b9b;
}
 /* ============Everyday Elegance
 end ===============*/


 /* ============Beauty start
 end ===============*/
 #beauty{
    background: url(../img/beauty_bg.jpg) no-repeat center;
    background: cover;
    
    margin-top: 50px;
 }

 #beauty ul{
    display: flex;
    justify-content: center;
    
 }
 #beauty ul li a{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
     color: #868686;
     padding: 0px 24px;
     margin-top: 55px;
     position: relative;
 }
 #beauty  ul li a.home{
    color: #000;
    
}
#beauty  ul li a.home::before{
    
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 117px;
    background-color: #868686;
   
    border-radius: 5px;
    bottom: -12px;
    opacity: 1;
    
}
#beauty .item{
    padding: 182px 80px;
}

#beauty h2{
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
    color: #000000;
}

#beauty p{
    color: #868686;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    width: 489px;
} 

#beauty button a{

    color: #000;
    
    padding-top: 10px;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 45px;
    text-transform: uppercase;
    transition: all .35s ease;
    padding: 0 25px;
    border: 2px solid black;
}

#beauty .beuty_img{
    width: 100%;
    padding: 60px 134px;
}



 /* ============Beauty end
 end ===============*/
#blog h1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}


  /* ============Beauty start
  ===============*/
#blog img{
    width: 100%;
}


 #blog p{
  font-size: 11px;
  margin-top: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #868686;
 }

 #blog h4{
 font-size:26px;
 font-weight: 600;
 line-height: 35px;
 margin-bottom: 4px;
 color: #000;
 }

 #blog a{
    color: #868686;
    line-height: 1.2;
    font-size: 14px;
    border-bottom: 1px solid #868686;
 }


 #blog .main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
#blog .main .item{
        width: 15%;
        margin-left: 30px;
        margin-right: 30px;
   
}
  /* ============Beauty 
 end ===============*/


 /* <!-- ==============footer start =============--> */


 #footer .main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#footer .main .item_one{
    width: 20%;
    
    
}



#footer .main .item_one h3{
    font-size: 20px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 20px;
    
}

#footer .main .item_one ul{
    padding-left: 0;
}

#footer .main .item_one ul li a{
    font-size: 16px;
    font-weight: 400;
    color: #4A4A4A;
    padding-top: 12px;
}

#footer .main .item_one ul li a i{
    padding-right: 5px;
}

#footer .main .item_five h3{
    font-size: 20px;
    font-weight: 600;
    color: #222222;
    
    margin-bottom: 28px;
    
}

#footer .main .item_five p{
    color: #868686;
    background-color: #fff;
    font-family: Lato,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    width: 304px;
}
#footer .main .item_five form{
    width: 310px;
   
    
}


#footer .main .item_five button{
    
    background-color: #000;
    margin-left: -9px;
    font-size: 23px;
}

#footer .main .item_five button i{
    color: #ffffff;
    padding: 5px 10px;
}
#footer .main .item_five .icons ul{
    display: flex;
    margin-left: -40px;
    padding-top: 20px;

}

#footer .main .item_five .icons ul li{
    padding-left: 10px;
}

#footer .main .item_five .icons ul li a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    color: #000;
}

#copy { 
    background-color: #EBF0F0;
    height: 60px;
    

}

#copy p{
    padding: 22px 0; 
    margin-left: 100px; 
    
}
#copy ul {
    margin-left: 26px;
}

#copy ul li a{
    
    padding: 22px 0px;
}
